.g-wrapper
	.pageheadingcases
		.pageheadingcases__breadcrums
			a(href="#") Powerducks
			span /
			a(href="#") our cases
		.pageheadingcases__title
			span our
			span cases
		.pageheadingcases__image(style="background: url(/images/casestitle-bg.jpg) 80% 0% no-repeat; background-size: cover;")
		.pageheadingcases__shadow
