//fonts
$B-Bold = B-Bold
$B-Book = B-Book
$B-Light = B-Light
$B-Regular = B-Regular
$B-Thin = B-Thin
$Regular = Regular
$Italic = Italic
$Semibold = Semibold
$Light = Light
$Bold = Bold
$SemiboldItalic = SemiboldItalic
$ExtraLightItalic = ExtraLightItalic
$LightItalic = LightItalic
$ExtraLight = ExtraLight

//colors
$lang = #4E4E4E
$breadcrums = #575757
$white = #FFFFFF
$red = #CD0000
$lightred = #C2211A
$black = #000000
$text = #111111
$gray = #1C1C1C
$darkgray = #2D2D2D
$lightgray = #8F8F8F
$fa-darkgray = #4C4C4C
$bg = #FFFFFF
$bg-gray = #F8F8F8
