//global
@import "_variables.styl"
@import "_fonts.styl"
@import "_global.styl"

//common
@import "./blocks/common/_header.styl"
@import "./blocks/common/_supply.styl"

//index
@import "./blocks/index/_home.styl"
@import "./blocks/index/_whatwedo.styl"
@import "./blocks/index/_clients.styl"
@import "./blocks/index/_whoweare.styl"
@import "./blocks/index/_selectedwork.styl"
@import "./blocks/index/_ourteam.styl"
@import "./blocks/index/_wetakepridein.styl"

//careers
@import "./blocks/careers/_pageheading.styl"
@import "./blocks/careers/_careers.styl"

//cases
@import "./blocks/cases/_pageheading.styl"
@import "./blocks/cases/_cases.styl"

//ournews
@import "./blocks/ournews/_pageheading.styl"
@import "./blocks/ournews/_ournews.styl"

//newsdetail
@import "./blocks/newsdetail/_pageheading.styl"
@import "./blocks/newsdetail/_newsdetail.styl"

//casedetail
@import "./blocks/casedetail/_pageheading.styl"
@import "./blocks/casedetail/_casedetail.styl"

//casedetail
@import "./blocks/contacts/_pageheading.styl"
@import "./blocks/contacts/_contacts.styl"

//common
@import "./blocks/common/_popup.styl"
@import "./blocks/common/_footer.styl"
