.g-wrapper
	.footer
		.footer__block
			.footer__block-title Let’s work together
			.footer__block-desctitle Just send us your contact details and we’ll reach you
			.footer__block-button.callback BRIEF US
			.footer__block-smallbutton.callback
				button SEND AN ENQUIRY
		.footer__block
			.footer__block-righttitle Address
			.footer__block-text Russia, Moscow, pr-t. Lenina, 23
			.footer__block-righttitle Phone
			.footer__block-link
				a(href="tel:+7(800) 331-23-12") 8 800 331 231 112
			.footer__block-righttitle E-MAIL
			.footer__block-link
				a(href="mailto:info@powerducks.com") info@powerducks.com
			.footer__block-social
				a(href="#").footer__block-social-item
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.8"><path d="M0 0V40H40V0H0ZM37.5258 37.5258H2.47423V2.47423H37.5258V37.5258Z" fill="white"/><path d="M26.4352 7.01416H13.5644C9.9511 7.01416 7.01172 9.95354 7.01172 13.5668V26.4376C7.01172 30.0513 9.9511 32.9902 13.5644 32.9902H26.4352C30.0488 32.9902 32.9878 30.0513 32.9878 26.4376V13.5668C32.9878 9.95354 30.0488 7.01416 26.4352 7.01416ZM30.1612 26.4377C30.1612 28.4922 28.4897 30.1637 26.4352 30.1637H13.5644C11.5103 30.1637 9.83873 28.4922 9.83873 26.4377V13.5668C9.83873 11.5127 11.5103 9.84117 13.5644 9.84117H26.4352C28.4897 9.84117 30.1612 11.5126 30.1612 13.5668V26.4377Z" fill="white"/><path d="M26.9052 14.6957C26.0319 14.6957 25.3218 13.9856 25.3218 13.1128C25.3218 12.2399 26.0319 11.5298 26.9052 11.5298C27.778 11.5298 28.4881 12.2399 28.4881 13.1128C28.4881 13.9856 27.778 14.6957 26.9052 14.6957Z" fill="white"/><path d="M19.9995 13.312C16.3109 13.312 13.3096 16.3134 13.3096 20.0019C13.3096 23.6909 16.3109 26.6922 19.9995 26.6922C23.6884 26.6922 26.6898 23.6909 26.6898 20.0019C26.6898 16.3135 23.6884 13.312 19.9995 13.312ZM19.9995 23.8658C17.8701 23.8658 16.1361 22.1322 16.1361 20.002C16.1361 17.8726 17.8701 16.1394 19.9995 16.1394C22.1297 16.1394 23.8625 17.8726 23.8625 20.002C23.8625 22.1321 22.1297 23.8658 19.9995 23.8658Z" fill="white"/></g></svg>
				a(href="#").footer__block-social-item
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.8"><path d="M11.9385 22.7598C12.9415 24.1187 14.0937 25.3205 15.5825 26.1706C17.2684 27.1341 19.0836 27.4249 20.9977 27.3363C21.8923 27.2934 22.1612 27.0602 22.2024 26.1689C22.2301 25.5584 22.3007 24.9495 22.6012 24.4011C22.8966 23.8628 23.3449 23.7611 23.8618 24.096C24.1193 24.2649 24.3362 24.4767 24.5413 24.7032C25.0451 25.2532 25.5329 25.8226 26.0548 26.3546C26.7112 27.0227 27.4894 27.4164 28.466 27.3362L32.2495 27.3378C32.8584 27.2967 33.1752 26.5499 32.8256 25.8684C32.5793 25.3927 32.2562 24.9692 31.9146 24.5586C31.1414 23.6295 30.2303 22.8383 29.369 21.9979C28.5924 21.2399 28.5433 20.7999 29.1668 19.925C29.8496 18.9694 30.5817 18.0521 31.2695 17.1016C31.9112 16.2137 32.5696 15.3271 32.9058 14.2653C33.121 13.5875 32.9306 13.2887 32.2381 13.1689C32.1183 13.1492 31.9936 13.1492 31.8721 13.1492L27.7553 13.1442C27.2481 13.1362 26.9691 13.3576 26.7901 13.8073C26.5472 14.4149 26.2976 15.0221 26.0085 15.6066C25.3555 16.9362 24.6247 18.2211 23.6007 19.3078C23.3743 19.5473 23.123 19.8512 22.7457 19.7264C22.2746 19.5541 22.1351 18.7763 22.1431 18.5137L22.1397 13.7616C22.0481 13.0838 21.8968 12.78 21.2224 12.6484H16.9464C16.377 12.6484 16.0896 12.8703 15.7841 13.2263C15.6101 13.4334 15.5559 13.5662 15.9173 13.6352C16.6261 13.7696 17.0283 14.2293 17.1334 14.9403C17.3027 16.0778 17.291 17.2199 17.1926 18.3608C17.1649 18.694 17.1073 19.0255 16.9758 19.3373C16.769 19.8281 16.4341 19.9269 15.9959 19.6248C15.6005 19.3524 15.3215 18.9684 15.0471 18.5826C14.0214 17.1329 13.204 15.5706 12.5359 13.9288C12.3438 13.4545 12.0106 13.1674 11.5085 13.159C10.2739 13.1393 9.0381 13.1364 7.80181 13.1607C7.06012 13.1737 6.83827 13.5351 7.1421 14.2095C8.48643 17.2018 9.98367 20.1104 11.9385 22.7598Z" fill="white"/><path d="M0 0V40H40V0H0ZM37.5258 37.5258H2.47423V2.47423H37.5258V37.5258Z" fill="white"/></g></svg>
				a(href="#").footer__block-social-item
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.8"><path d="M16.5579 32.9896H21.9406V19.9928H25.5528C25.5528 19.9928 25.8913 17.8956 26.0562 15.6023H21.9616V12.6114C21.9616 12.1647 22.5479 11.5643 23.1288 11.5643H26.062V7.01025H22.073C16.4253 7.01025 16.5578 11.3882 16.5578 12.0419V15.6177H13.9375V19.9912H16.5578V32.9896H16.5579Z" fill="white"/><path d="M0 0V40H40V0H0ZM37.5258 37.5258H2.47423V2.47423H37.5258V37.5258Z" fill="white"/></g></svg>
		.footer__copy
			a(href="#").footer__copy-item
				img(src="/images/footer-logo.png")
			.footer__copy-item © 2018. All rights reserved.
			.footer__copy-item Design & Develop:
				a(href="#") Spacecode
