.g-wrapper
	.clients
		.clients__overlay
		.clients__block.wow.fadeIn(data-wow-delay=".2s")
			.clients__block-title Clients
			.clients__block-desc We take pride in the work done for some of the most influencial companies and brands in the word such as Samsung, Lenovo, Kaspersky, VimpelCom, Coca Cola, M Video, PepsiCo, Media Markt, Steelseries, Razer, Global Functional Drinks AG, etc.
		.clients__slider.wow.fadeIn(data-wow-delay=".5s")
			.swiper-container.swiper-container-clients
				.swiper-wrapper
					.swiper-slide
						.clients__slider-item
							.clients__slider-item-img(style="background: url(images/client1.png) 50% 50% no-repeat; background-size: cover;")
							.clients__slider-item-subtitle Samsung electronics
							.clients__slider-item-text Краткая информация о компании при наведении на карточку.
					.swiper-slide
						.clients__slider-item
							.clients__slider-item-img(style="background: url(images/client2.png) 50% 50% no-repeat; background-size: cover;")
							.clients__slider-item-subtitle Lenovo
							.clients__slider-item-text Краткая информация о компании при наведении на карточку.
					.swiper-slide
						.clients__slider-item
							.clients__slider-item-img(style="background: url(images/client3.png) 50% 50% no-repeat; background-size: cover;")
							.clients__slider-item-subtitle Coca Cola
							.clients__slider-item-text Краткая информация о компании при наведении на карточку.
					.swiper-slide
						.clients__slider-item
							.clients__slider-item-img(style="background: url(images/client2.png) 50% 50% no-repeat; background-size: cover;")
							.clients__slider-item-subtitle Lenovo
							.clients__slider-item-text Краткая информация о компании при наведении на карточку.
					.swiper-slide
						.clients__slider-item
							.clients__slider-item-img(style="background: url(images/client3.png) 50% 50% no-repeat; background-size: cover;")
							.clients__slider-item-subtitle Coca Cola
							.clients__slider-item-text Краткая информация о компании при наведении на карточку.
					.swiper-slide
						.clients__slider-item
							.clients__slider-item-img(style="background: url(images/client1.png) 50% 50% no-repeat; background-size: cover;")
							.clients__slider-item-subtitle Samsung electronics
							.clients__slider-item-text Краткая информация о компании при наведении на карточку.
				.swiper-pagination
