.g-wrapper
	.titles.wow.fadeIn(data-wow-delay=".5s")
		.titles__title WHAT WE DO
		.titles__separator
		.titles__subtitle /POWER
			span ON
			span /
	.whatwedo.wow.fadeIn(data-wow-delay=".5s")
		.swiper-container.swiper-container-whatwedo
			.swiper-wrapper
				.swiper-slide
					.whatwedo__block
						.whatwedo__block-header
						.whatwedo__block-header-img
							img(src="images/whatwedo1.png")
						.whatwedo__block-header-title.whatwedo__block-header-title-gray eSports
							span.whatwedo__block-header-title-red sponsorship
						.whatwedo__block-header-titles
							.whatwedo__block-header-titles-shadow eSports
								span sponsorship
						.whatwedo__block-container
							.whatwedo__block-container-text
								span PowerDucks
								span work with the most relevant modern day influencers: they shape and lead the audience according to a philosophy of the brand.
				.swiper-slide
					.whatwedo__block
						.whatwedo__block-header
						.whatwedo__block-header-img
							img(src="images/whatwedo2.png")
						.whatwedo__block-header-title.whatwedo__block-header-title-red Research
							span.whatwedo__block-header-title-gray and ideation
						.whatwedo__block-header-titles
							.whatwedo__block-header-titles-shadow Research
								span and ideation
						.whatwedo__block-container
							.whatwedo__block-container-text
								span PowerDucks
								span work with the most relevant modern day influencers: they shape and lead the audience according to a philosophy of the brand.
				.swiper-slide
					.whatwedo__block
						.whatwedo__block-header
						.whatwedo__block-header-img
							img(src="images/whatwedo3.png")
						.whatwedo__block-header-title.whatwedo__block-header-title-red Influencer
							span.whatwedo__block-header-title-gray Partnerships
						.whatwedo__block-header-titles
							.whatwedo__block-header-titles-shadow Influencer
								span Partnerships
						.whatwedo__block-container
							.whatwedo__block-container-text
								span PowerDucks
								span work with the most relevant modern day influencers: they shape and lead the audience according to a philosophy of the brand.
				.swiper-slide
					.whatwedo__block
						.whatwedo__block-header
						.whatwedo__block-header-img
							img(src="images/whatwedo4.png")
						.whatwedo__block-header-title.whatwedo__block-header-title-gray digital
							span.whatwedo__block-header-title-red marketing
						.whatwedo__block-header-titles
							.whatwedo__block-header-titles-shadow digital
								span marketing
						.whatwedo__block-container
							.whatwedo__block-container-text
								span PowerDucks
								span work with the most relevant modern day influencers: they shape and lead the audience according to a philosophy of the brand.
				.swiper-slide
					.whatwedo__block
						.whatwedo__block-header
						.whatwedo__block-header-img
							img(src="images/whatwedo5.png")
						.whatwedo__block-header-title.whatwedo__block-header-title-red Cross-promo
							span.whatwedo__block-header-title-gray programms
						.whatwedo__block-header-titles
							.whatwedo__block-header-titles-shadow Cross-promo
								span programms
						.whatwedo__block-container
							.whatwedo__block-container-text
								span PowerDucks
								span work with the most relevant modern day influencers: they shape and lead the audience according to a philosophy of the brand.
				.swiper-slide
					.whatwedo__block
						.whatwedo__block-header
						.whatwedo__block-header-img
							img(src="images/whatwedo6.png")
						.whatwedo__block-header-title.whatwedo__block-header-title-red Social media
							span.whatwedo__block-header-title-gray and content marketing
						.whatwedo__block-header-titles
							.whatwedo__block-header-titles-shadow Social media
								span and content marketing
						.whatwedo__block-container
							.whatwedo__block-container-text
								span PowerDucks
								span work with the most relevant modern day influencers: they shape and lead the audience according to a philosophy of the brand.
				.swiper-slide
					.whatwedo__block
						.whatwedo__block-header
						.whatwedo__block-header-img
							img(src="images/whatwedo7.png")
						.whatwedo__block-header-title.whatwedo__block-header-title-gray BTL
							span.whatwedo__block-header-title-red EVENTS
						.whatwedo__block-header-titles
							.whatwedo__block-header-titles-shadow BTL
								span EVENTS
						.whatwedo__block-container
							.whatwedo__block-container-text
								span PowerDucks
								span work with the most relevant modern day influencers: they shape and lead the audience according to a philosophy of the brand.
				.swiper-slide
					.whatwedo__block
						.whatwedo__block-header
						.whatwedo__block-header-img
							img(src="images/whatwedo8.png")
						.whatwedo__block-header-title.whatwedo__block-header-title-red PR
						.whatwedo__block-header-titles
							.whatwedo__block-header-titles-shadow PR
						.whatwedo__block-container
							.whatwedo__block-container-text
								span PowerDucks
								span work with the most relevant modern day influencers: they shape and lead the audience according to a philosophy of the brand.
				.swiper-slide
					.whatwedo__block
						.whatwedo__block-header
						.whatwedo__block-header-img
							img(src="images/whatwedo9.png")
						.whatwedo__block-header-title.whatwedo__block-header-title-red Strategy
							span.whatwedo__block-header-title-gray development
						.whatwedo__block-header-titles
							.whatwedo__block-header-titles-shadow Strategy
								span development
						.whatwedo__block-container
							.whatwedo__block-container-text
								span PowerDucks
								span work with the most relevant modern day influencers: they shape and lead the audience according to a philosophy of the brand.
			.swiper-pagination
