.pageheadingnewsdetail {
  overflow: hidden;
  padding: 48px;
  position: relative;
  margin-top: 160px;
  margin-bottom: 40px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebebeb));
  background: -webkit-linear-gradient(top, #fff 0%, #ebebeb 100%);
  background: -o-linear-gradient(top, #fff 0%, #ebebeb 100%);
  background: linear-gradient(180deg, #fff 0%, #ebebeb 100%);
  -webkit-box-shadow: 0px 4px 60px rgba(0,0,0,0.15);
          box-shadow: 0px 4px 60px rgba(0,0,0,0.15);
}
.pageheadingnewsdetail__breadcrums {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}
.pageheadingnewsdetail__breadcrums a:nth-child(1) {
  color: $white;
  font-family: $B-Regular;
  font-size: 1.125rem;
  line-height: 18px;
  border-bottom: 1px solid $white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.pageheadingnewsdetail__breadcrums a:nth-child(1):hover {
  color: $breadcrums;
  border-color: $breadcrums;
}
.pageheadingnewsdetail__breadcrums a:nth-child(3) {
  color: $white;
  font-family: $B-Regular;
  font-size: 1.125rem;
  line-height: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid $white;
}
.pageheadingnewsdetail__breadcrums a:nth-child(3):hover {
  color: $breadcrums;
  border-color: $breadcrums;
}
.pageheadingnewsdetail__breadcrums a:nth-child(5) {
  color: $breadcrums;
  font-family: $B-Regular;
  font-size: 1.125rem;
  line-height: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
.pageheadingnewsdetail__breadcrums a:nth-child(5):hover {
  color: $white;
  border-bottom: 1px solid $white;
}
.pageheadingnewsdetail__breadcrums span:nth-child(2) {
  color: $breadcrums;
  margin: 4px;
}
.pageheadingnewsdetail__breadcrums span:nth-child(4) {
  color: $breadcrums;
  margin: 4px;
}
.pageheadingnewsdetail__title {
  position: relative;
  z-index: 2;
  color: $white;
  font-family: $B-Bold;
  font-size: 5.75rem;
  line-height: 92px;
}
.pageheadingnewsdetail__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 991px) {
  .pageheadingnewsdetail {
    margin-top: 120px;
    padding: 30px;
    height: auto;
  }
  .pageheadingnewsdetail__title {
    font-size: 3rem;
    line-height: 48px;
  }
}
@media (max-width: 480px) {
  .pageheadingnewsdetail {
    margin-top: 100px;
    padding: 30px;
    height: auto;
  }
}
