.g-wrapper
	.pageheadingcontacts
		.pageheadingcontacts__breadcrums
			a(href="#") Powerducks
			span /
			a(href="#") Contact us
		.pageheadingcontacts__title
			span Contact
			span Us
		.pageheadingcontacts__image(style="background: url(/images/contacts-bg.jpg) 80% 0% no-repeat; background-size: cover;")
		.pageheadingcontacts__shadow
