#home {
  overflow: hidden;
}
.home {
  height: 100vh;
  padding-top: 30px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-showrel {
  position: absolute;
  background-color: #1d1e26;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.home-showrel video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.home__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.home__block:nth-child(2) {
  -webkit-flex-basis: 35%;
      -ms-flex-preferred-size: 35%;
          flex-basis: 35%;
}
.home__block-title {
  font-family: $B-Bold;
  font-size: 5.75rem;
  color: $white;
  margin-bottom: 25px;
}
.home__block-desc {
  color: $red;
  font-family: $B-Bold;
  font-size: 4.5rem;
  margin-bottom: 50px;
}
.home__block-button button {
  background: $white;
  color: $black;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 23px 75px;
  font-family: $B-Bold;
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.home__block-button button:hover {
  background-color: $red;
  color: $white;
  -webkit-box-shadow: 0px 0px 60px $red;
          box-shadow: 0px 0px 60px $red;
}
.home__block-buttonstop {
  position: relative;
}
.home__block-buttonstop:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 1px;
  left: -400%;
  width: 400%;
  pointer-events: none;
  background-color: rgba(255,255,255,0.3);
}
.home__block-buttonstop:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 1px;
  right: -400%;
  width: 400%;
  pointer-events: none;
  background-color: rgba(255,255,255,0.3);
}
.home__block-buttonstop-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 30px;
  position: relative;
}
.home__block-buttonstop-item span {
  color: rgba(255,255,255,0.9);
  font-size: 2rem;
  font-family: $B-Bold;
  line-height: 32px;
  padding: 20px;
  letter-spacing: 1px;
}
.home__block-buttonstop-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.home__block-buttonstop-item:before {
  content: '';
  position: absolute;
  top: -400%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 400%;
  pointer-events: none;
  left: 50%;
  width: 1px;
  background-color: rgba(255,255,255,0.3);
}
.home__block-buttonstop-item:after {
  content: '';
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  bottom: -400%;
  pointer-events: none;
  height: 400%;
  left: 50%;
  width: 1px;
  background-color: rgba(255,255,255,0.3);
}
.home__block-buttonstop-item:hover.home__block-buttonstop-item:after {
  background-color: #fff;
}
.home__block-buttonstop-item:hover.home__block-buttonstop-item:before {
  background-color: #fff;
}
.home__block-buttonstop:hover.home__block-buttonstop:before {
  background-color: #fff;
}
.home__block-buttonstop:hover.home__block-buttonstop:after {
  background-color: #fff;
}
@media (max-width: 64rem) {
  .home {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .home__block {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    height: auto;
    text-align: center;
  }
  .home__block:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-top: -150px;
  }
  .home__block-title {
    font-size: 5.125rem;
  }
  .home__block-desc {
    font-size: 3.875rem;
  }
  .home__block-buttonstop:before {
    display: none;
  }
  .home__block-buttonstop:after {
    display: none;
  }
  .home__block-buttonstop-item:before {
    display: none;
  }
  .home__block-buttonstop-item:after {
    display: none;
  }
}
@media (max-width: 30rem) {
  .home {
    height: 100vh;
  }
  .home__block {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .home__block-title {
    font-size: 3.25rem;
    margin-bottom: 20px;
  }
  .home__block-desc {
    font-size: 2rem;
    margin-bottom: 35px;
  }
  .home__block-button button {
    padding: 16px;
    width: 100%;
  }
}
