.g-wrapper
	.pageheadingournews
		.pageheadingournews__breadcrums
			a(href="#") Powerducks
			span /
			a(href="#") our news
		.pageheadingournews__title
			span our
			span news
		.pageheadingournews__image(style="background: url(/images/ournewstitle-bg.jpg) 80% 0% no-repeat; background-size: cover;")
		.pageheadingournews__shadow
