.g-wrapper
	.pageheadingcasedetail
		.pageheadingcasedetail__breadcrums
			a(href="#") Powerducks
			span /
			a(href="#") Our cases
			span /
			a(href="#") Don’t just win, do damage!
		.pageheadingcasedetail__title Don’t just win, do damage!
		.pageheadingcasedetail__geography
			p Geography:
			span UK, Russia & CIS
		.pageheadingcasedetail__image(style="background: url(/images/cases1.jpg) 50% 50% no-repeat; background-size: cover;")
		.pageheadingcasedetail__shadow
		.pageheadingcasedetail__map(style="background: url(/images/map.png) 100% 0% no-repeat; background-size: contain;")
