.careers-bg
	img(src="/images/careers-bg.png")
.g-wrapper
	.careers
		.careers__blocks
			.careers__blocks-title
				span Want to be a
				span Creator
				span ?
				.careers__blocks-title-arrow
					i.fa.fa-angle-up
			.careers__blocks-block
				.careers__blocks-block-text Требуемый опыт работы: 3-4 года, полная занятость, полный день. Wanted! Проджект менеджер для работы над развитием платформы для геймеров.
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Duties
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Ведение, модерация и развитие платформы для геймеров
						.careers__blocks-block__contaiter-lis-li Поиск, адаптация и публикация контента: перевод англоязычных развлекательных, новостных и аналитических статей на геймерскую/киберспортивную тематику (пример: новости, статьи и анонсы на hltv.org)ведение новостной страницы
						.careers__blocks-block__contaiter-lis-li Мониторинг и анализ действий конкурентов (производителей геймерской продукции) в социальных сетях, на YouTube и Twitch
						.careers__blocks-block__contaiter-lis-li Разработка и реализация программ вовлечения аудитории, формирования лояльности к продукту (акции, конкурсы, тесты, викторины, квесты и др. активности, в которых будет интересно участвовать пользователям)
						.careers__blocks-block__contaiter-lis-li Анализ эффективности работы с сообществом, разработка предложений по ее оптимизации
						.careers__blocks-block__contaiter-lis-li Мониторинг упоминаний бренда в сети, работа с настроением комьюнити
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Requirements
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Высшее образование
						.careers__blocks-block__contaiter-lis-li Понимание аудитории. Обязательно хорошее знание индустрии гейминга и киберспорта
						.careers__blocks-block__contaiter-lis-li Опыт работы в качестве проджект менеджера/контент менеджера от 3 лет;
						.careers__blocks-block__contaiter-lis-li Опыт создания текстового и видео- контента, а также опыт в разработке конкурсов, квестов и акций.
						.careers__blocks-block__contaiter-lis-li Уверенное знание Microsoft Excel, Adobe Photoshop/Illustrator;
						.careers__blocks-block__contaiter-lis-li Отличное знание русского языка, умение писать не только грамотно, но и понятно для ЦА; знание английского языка не ниже Advanced level – must have!!!
						.careers__blocks-block__contaiter-lis-li Знание принципов продвижения сайтов, групп, проектов;
						.careers__blocks-block__contaiter-lis-li Проактивность и самостоятельность в поиске решения задач
						.careers__blocks-block__contaiter-lis-li Творческий подход и креативность.
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Conditions
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Работу в окружении отзывчивого и профессионального коллектива
						.careers__blocks-block__contaiter-lis-li Возможность личного и карьерного роста
						.careers__blocks-block__contaiter-lis-li Свобода в реализации интересного и крутого проекта в гейминге
						.careers__blocks-block__contaiter-lis-li Работа в комфортном офисе м. Славянский бульвар
						.careers__blocks-block__contaiter-lis-li График - пн.-пт., с 10 до 19 часов;
						.careers__blocks-block__contaiter-lis-li Официальное оформление по ТК РФ
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-titleanswer Your answer
					button.careers__blocks-block__contaiter-button Yes, i want. upload my cv
			.careers__blocks-separator
		.careers__blocks
			.careers__blocks-title
				span Want to be a
				span smm-manager
				span ?
				.careers__blocks-title-arrow
					i.fa.fa-angle-up
			.careers__blocks-block
				.careers__blocks-block-text Требуемый опыт работы: 3-4 года, полная занятость, полный день. Wanted! Проджект менеджер для работы над развитием платформы для геймеров.
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Duties
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Ведение, модерация и развитие платформы для геймеров
						.careers__blocks-block__contaiter-lis-li Поиск, адаптация и публикация контента: перевод англоязычных развлекательных, новостных и аналитических статей на геймерскую/киберспортивную тематику (пример: новости, статьи и анонсы на hltv.org)ведение новостной страницы
						.careers__blocks-block__contaiter-lis-li Мониторинг и анализ действий конкурентов (производителей геймерской продукции) в социальных сетях, на YouTube и Twitch
						.careers__blocks-block__contaiter-lis-li Разработка и реализация программ вовлечения аудитории, формирования лояльности к продукту (акции, конкурсы, тесты, викторины, квесты и др. активности, в которых будет интересно участвовать пользователям)
						.careers__blocks-block__contaiter-lis-li Анализ эффективности работы с сообществом, разработка предложений по ее оптимизации
						.careers__blocks-block__contaiter-lis-li Мониторинг упоминаний бренда в сети, работа с настроением комьюнити
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Requirements
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Высшее образование
						.careers__blocks-block__contaiter-lis-li Понимание аудитории. Обязательно хорошее знание индустрии гейминга и киберспорта
						.careers__blocks-block__contaiter-lis-li Опыт работы в качестве проджект менеджера/контент менеджера от 3 лет;
						.careers__blocks-block__contaiter-lis-li Опыт создания текстового и видео- контента, а также опыт в разработке конкурсов, квестов и акций.
						.careers__blocks-block__contaiter-lis-li Уверенное знание Microsoft Excel, Adobe Photoshop/Illustrator;
						.careers__blocks-block__contaiter-lis-li Отличное знание русского языка, умение писать не только грамотно, но и понятно для ЦА; знание английского языка не ниже Advanced level – must have!!!
						.careers__blocks-block__contaiter-lis-li Знание принципов продвижения сайтов, групп, проектов;
						.careers__blocks-block__contaiter-lis-li Проактивность и самостоятельность в поиске решения задач
						.careers__blocks-block__contaiter-lis-li Творческий подход и креативность.
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Conditions
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Работу в окружении отзывчивого и профессионального коллектива
						.careers__blocks-block__contaiter-lis-li Возможность личного и карьерного роста
						.careers__blocks-block__contaiter-lis-li Свобода в реализации интересного и крутого проекта в гейминге
						.careers__blocks-block__contaiter-lis-li Работа в комфортном офисе м. Славянский бульвар
						.careers__blocks-block__contaiter-lis-li График - пн.-пт., с 10 до 19 часов;
						.careers__blocks-block__contaiter-lis-li Официальное оформление по ТК РФ
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-titleanswer Your answer
					button.careers__blocks-block__contaiter-button Yes, i want. upload my cv
			.careers__blocks-separator
		.careers__blocks
			.careers__blocks-title
				span Want to be a
				span digital designer
				span ?
				.careers__blocks-title-arrow
					i.fa.fa-angle-up
			.careers__blocks-block
				.careers__blocks-block-text Требуемый опыт работы: 3-4 года, полная занятость, полный день. Wanted! Проджект менеджер для работы над развитием платформы для геймеров.
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Duties
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Ведение, модерация и развитие платформы для геймеров
						.careers__blocks-block__contaiter-lis-li Поиск, адаптация и публикация контента: перевод англоязычных развлекательных, новостных и аналитических статей на геймерскую/киберспортивную тематику (пример: новости, статьи и анонсы на hltv.org)ведение новостной страницы
						.careers__blocks-block__contaiter-lis-li Мониторинг и анализ действий конкурентов (производителей геймерской продукции) в социальных сетях, на YouTube и Twitch
						.careers__blocks-block__contaiter-lis-li Разработка и реализация программ вовлечения аудитории, формирования лояльности к продукту (акции, конкурсы, тесты, викторины, квесты и др. активности, в которых будет интересно участвовать пользователям)
						.careers__blocks-block__contaiter-lis-li Анализ эффективности работы с сообществом, разработка предложений по ее оптимизации
						.careers__blocks-block__contaiter-lis-li Мониторинг упоминаний бренда в сети, работа с настроением комьюнити
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Requirements
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Высшее образование
						.careers__blocks-block__contaiter-lis-li Понимание аудитории. Обязательно хорошее знание индустрии гейминга и киберспорта
						.careers__blocks-block__contaiter-lis-li Опыт работы в качестве проджект менеджера/контент менеджера от 3 лет;
						.careers__blocks-block__contaiter-lis-li Опыт создания текстового и видео- контента, а также опыт в разработке конкурсов, квестов и акций.
						.careers__blocks-block__contaiter-lis-li Уверенное знание Microsoft Excel, Adobe Photoshop/Illustrator;
						.careers__blocks-block__contaiter-lis-li Отличное знание русского языка, умение писать не только грамотно, но и понятно для ЦА; знание английского языка не ниже Advanced level – must have!!!
						.careers__blocks-block__contaiter-lis-li Знание принципов продвижения сайтов, групп, проектов;
						.careers__blocks-block__contaiter-lis-li Проактивность и самостоятельность в поиске решения задач
						.careers__blocks-block__contaiter-lis-li Творческий подход и креативность.
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Conditions
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Работу в окружении отзывчивого и профессионального коллектива
						.careers__blocks-block__contaiter-lis-li Возможность личного и карьерного роста
						.careers__blocks-block__contaiter-lis-li Свобода в реализации интересного и крутого проекта в гейминге
						.careers__blocks-block__contaiter-lis-li Работа в комфортном офисе м. Славянский бульвар
						.careers__blocks-block__contaiter-lis-li График - пн.-пт., с 10 до 19 часов;
						.careers__blocks-block__contaiter-lis-li Официальное оформление по ТК РФ
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-titleanswer Your answer
					button.careers__blocks-block__contaiter-button Yes, i want. upload my cv
			.careers__blocks-separator
		.careers__blocks
			.careers__blocks-title
				span Want to be an
				span account manager
				span ?
				.careers__blocks-title-arrow
					i.fa.fa-angle-up
			.careers__blocks-block
				.careers__blocks-block-text Требуемый опыт работы: 3-4 года, полная занятость, полный день. Wanted! Проджект менеджер для работы над развитием платформы для геймеров.
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Duties
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Ведение, модерация и развитие платформы для геймеров
						.careers__blocks-block__contaiter-lis-li Поиск, адаптация и публикация контента: перевод англоязычных развлекательных, новостных и аналитических статей на геймерскую/киберспортивную тематику (пример: новости, статьи и анонсы на hltv.org)ведение новостной страницы
						.careers__blocks-block__contaiter-lis-li Мониторинг и анализ действий конкурентов (производителей геймерской продукции) в социальных сетях, на YouTube и Twitch
						.careers__blocks-block__contaiter-lis-li Разработка и реализация программ вовлечения аудитории, формирования лояльности к продукту (акции, конкурсы, тесты, викторины, квесты и др. активности, в которых будет интересно участвовать пользователям)
						.careers__blocks-block__contaiter-lis-li Анализ эффективности работы с сообществом, разработка предложений по ее оптимизации
						.careers__blocks-block__contaiter-lis-li Мониторинг упоминаний бренда в сети, работа с настроением комьюнити
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Requirements
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Высшее образование
						.careers__blocks-block__contaiter-lis-li Понимание аудитории. Обязательно хорошее знание индустрии гейминга и киберспорта
						.careers__blocks-block__contaiter-lis-li Опыт работы в качестве проджект менеджера/контент менеджера от 3 лет;
						.careers__blocks-block__contaiter-lis-li Опыт создания текстового и видео- контента, а также опыт в разработке конкурсов, квестов и акций.
						.careers__blocks-block__contaiter-lis-li Уверенное знание Microsoft Excel, Adobe Photoshop/Illustrator;
						.careers__blocks-block__contaiter-lis-li Отличное знание русского языка, умение писать не только грамотно, но и понятно для ЦА; знание английского языка не ниже Advanced level – must have!!!
						.careers__blocks-block__contaiter-lis-li Знание принципов продвижения сайтов, групп, проектов;
						.careers__blocks-block__contaiter-lis-li Проактивность и самостоятельность в поиске решения задач
						.careers__blocks-block__contaiter-lis-li Творческий подход и креативность.
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-title Conditions
						.careers__blocks-block__contaiter-title-arrow
							i.fa.fa-angle-up
					.careers__blocks-block__contaiter-lis
						.careers__blocks-block__contaiter-lis-li Работу в окружении отзывчивого и профессионального коллектива
						.careers__blocks-block__contaiter-lis-li Возможность личного и карьерного роста
						.careers__blocks-block__contaiter-lis-li Свобода в реализации интересного и крутого проекта в гейминге
						.careers__blocks-block__contaiter-lis-li Работа в комфортном офисе м. Славянский бульвар
						.careers__blocks-block__contaiter-lis-li График - пн.-пт., с 10 до 19 часов;
						.careers__blocks-block__contaiter-lis-li Официальное оформление по ТК РФ
				.careers__blocks-block__contaiter
					.careers__blocks-block__contaiter-titleanswer Your answer
					button.careers__blocks-block__contaiter-button Yes, i want. upload my cv
			.careers__blocks-separator
