.g-wrapper
	.pageheadingcareers
		.pageheadingcareers__breadcrums
			a(href="#") Powerducks
			span /
			a(href="#") careers with powerducks
		.pageheadingcareers__title
			span Careers
			span with powerducks
		.pageheadingcareers__image(style="background: url(/images/careerstitle-bg.jpg) 80% 0% no-repeat; background-size: cover;")
		.pageheadingcareers__shadow
