#footer
	background: radial-gradient(340.00px at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/footer-bg.jpg) 50% 50% no-repeat
	background-size cover
	width 100%
.footer
	display flex
	flex-wrap wrap
	z-index 3
	padding 90px 0 40px 0
	&__block
		flex-basis 50%
		z-index 3
		padding-bottom 70px
		&:nth-child(2)
			text-align right
		&-title
			font-size 3.25rem
			position relative
			width 50%
			z-index 3
			padding-left 35px
			font-family $B-Bold
			color $red
			line-height 52px
			margin-bottom 20px
			&:before
				content ''
				position absolute
				left 0
				display inline-block
				width 2px
				background-color $red
				height 90px
		&-desctitle
			font-family $Regular
			font-size 1rem
			line-height 25px
			color $white
			margin-bottom 110px
			width 60%
			position relative
			padding-left 35px
			&:before
				content ''
				position absolute
				width 2px
				background-color $white
				display inline-block
				opacity .1
				left 0
				top 0
				height 100%
		&-button
			background $white
			width 240px
			text-align center
			color $black
			border-radius 5px
			padding 23px 75px
			font-family $B-Bold
			font-size 1.5rem
			line-height 24px
			letter-spacing 1px
			cursor pointer
			border none
			transition .3s
			margin-bottom 30px
			cursor pointer
			&:hover
				background-color $red
				color $white
				box-shadow 0px 0px 60px $red
		&-smallbutton
			width 240px
			text-align center
			button
				background none
				border none
				font-family $B-Regular
				font-size 1rem
				line-height 16px
				border-bottom 1px dashed $white
				color $white
				display inline-block
				cursor pointer
				transition .3s
				&:hover
					color $red
					border-color $red
		&-righttitle
			font-family $B-Book
			line-height 32px
			font-size 2rem
			color $white
			margin-bottom 15px
		&-text
			font-family $Regular
			font-size 1rem
			line-height 23px
			color $white
			margin-bottom 35px
		&-link a
			font-family $Regular
			font-size 1rem
			line-height 23px
			color $white
			margin-bottom 35px
			transition .3s
			display inline-block
			&:hover
				color $red
		&-social
			margin-top 50px
			display flex
			justify-content flex-end
			&-item
				margin-left 20px
				& svg path
					transition .3s
				&:hover path
					fill $red
	&__copy
		border-top 1px solid rgba(255, 255, 255, 0.1)
		padding-top 30px
		align-items center
		display flex
		z-index 3
		justify-content space-between
		flex-basis 100%
		&-item
			&:nth-child(2)
				font-family $Regular
				font-size 1rem
				line-height 23px
				color $white
			&:nth-child(3)
				font-family $B-Book
				font-size 1rem
				line-height 18px
				color $white
				& a
					margin-left 3px
					color $white
					font-family $B-Bold
					border-bottom 1px dashed $white
					transition .3s
					&:hover
						color $red
						border-color $red
@media(max-width: 754px)
	.footer
		padding-top 50px
		&__block
			&-title
				width 60%
@media(max-width: 640px)
	.footer
		padding-bottom 0
		&__block
			padding-bottom 0
			flex-basis 100%
			&-title
				width 75%
			&-button
				width 100%
			&-desctitle
				width 100%
				margin-bottom 51px
			&-smallbutton
				width 100%
			&-righttitle
				text-align center
				&:nth-child(1)
					margin-top 25px
			&-text
				text-align center
			&-link
				text-align center
				&:nth-child(6)
					& a
						border-bottom 1px dashed $white
						transition .3s
						&:hover
							border-color $red
			&-social
				justify-content center
				margin-top 0
				&-item
					&:nth-child(1)
						margin-left 0
		&__copy
			margin-top 30px
			flex-wrap wrap
			padding 30px 0 10px
			&-item
				flex-basis 100%
				text-align center
				margin-bottom 20px
				&:nth-child(2)
					margin-bottom 30px
