.g-wrapper
	.pageheadingnewsdetail
		.pageheadingnewsdetail__breadcrums
			a(href="#") Powerducks
			span /
			a(href="#") News
			span /
			a(href="#") New style and web-site
		.pageheadingnewsdetail__title Lenovo создала киберспортивную команду по CS:GO
		.pageheadingnewsdetail__image(style="background: url(/images/newsdetail-image.jpg) 50% 50% no-repeat; background-size: cover;")
